@model MVCApplication30Aug.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployee</title>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    @using (Html.BeginForm("SaveEmployee", "Admin", FormMethod.Post))
    {

        //Partial View Start
        @Html.Partial("LoginView")

        //Partial View End

        <div>
            Employee Name : @Html.TextBox("EmpName")
            @Html.ValidationMessageFor(c => c.EmpName)
        </div>
        <div>
            Employee Address : @Html.TextBoxFor(c => c.Address)
            @Html.ValidationMessageFor(c => c.Address)
        </div>
        <div>
            Employee Age : @Html.TextBoxFor(c => c.EmpAge)
            @Html.ValidationMessageFor(c => c.EmpAge)
        </div>
        <br />

        <input type="submit" value="Save" />
    }
</body>
</html>
